@import "vendors/bootstrap/bootstrap/variables";
@import "vendors/bootstrap/bootstrap/mixins";
@import "variables";
@import "base";
@import "produtos";
@import "admin";
@import "produto";
@import "panel";
@import "navbar";
@import "options";
@import "responsive";

@font-face {
  font-family: "Cabin";
  src: url('../fonts/Cabin-Regular.ttf');}
  @font-face {
  font-family: "Cabin";
  src: url('../fonts/Cabin-Bold.ttf');
font-weight: bold;}